<div class="container p-5">
  <form [formGroup]="form" (ngSubmit)="submit()" >
    <div class="mb-3">
      <label for="fullName" class="form-label">Full name</label>
      <input type="text" class="form-control has-validation" [ngClass]="{'is-invalid': formErrors.fullName}" id="fullName" formControlName="fullName" (blur)="logValidationErrors(form)">
      <div class="invalid-feedback">
        {{formErrors.fullName}}
      </div>
    </div>
    <div>
      <p>Contact preference</p>
    </div>
    <div class="form-check">
      <input formControlName="contactPreference" 
      class="form-check-input" type="radio" name="contactPreference" id="email" value="email">
      <div class="invalid-feedback">
        {{ formErrors.contactPreference }}
      </div>
      <label class="form-check-label" for="email">
        Email
      </label>
    </div>
    <div class="form-check">
      <input formControlName="contactPreference" 
      class="form-check-input" type="radio" name="contactPreference" id="phone" value="phone">
      <div class="invalid-feedback">
        {{ formErrors.contactPreference }}
      </div>
      <label class="form-check-label" for="phone">
        Phone
      </label>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" formControlName="email"
      [ngClass]="{'is-invalid': formErrors.email}" (blur)="logValidationErrors(form)"
      >
      <div class="invalid-feedback" >
        {{formErrors.email}}
      </div>
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Phone</label>
      <input type="text" class="form-control" id="phone" formControlName="phone" (blur)="logValidationErrors(form)"
      [ngClass]="{'is-invalid': formErrors.phone}">
      <div class="invalid-feedback">
        {{ formErrors.phone }}
      </div>
    </div>
    <div formGroupName="skill">
    <div class="row mb-3">
      <div class="col">
        <input type="text" [ngClass]="{'is-invalid': formErrors.skillName}" class="form-control" placeholder="Skill name" aria-label="Skill name" formControlName="skillName" (blur)="logValidationErrors(form)">
        <div class="invalid-feedback">
          {{ formErrors.skillName }}
        </div>
      </div>
      <div class="col">
        <input type="number" [ngClass]="{'is-invalid': formErrors.experienceInYears}"  formControlName="experienceInYears" class="form-control" placeholder="Years" aria-label="Years" (blur)="logValidationErrors(form)">
        <div class="invalid-feedback">
          {{ formErrors.experienceInYears }}
        </div>
      </div>
    </div>
    <div class="form-check">
      <input formControlName="proficiency" [ngClass]="{'is-invalid': formErrors.proficiency}" class="form-check-input" type="radio" name="proficiency" id="beginner" value="beginner" (blur)="logValidationErrors(form)">
      <div class="invalid-feedback">
        {{ formErrors.proficiency }}
      </div> 
      <label class="form-check-label" for="beginner">
        Beginner
      </label>
    </div>
    <div class="form-check">
      <input formControlName="proficiency" [ngClass]="{'is-invalid': formErrors.proficiency}" class="form-check-input" type="radio" name="proficiency" id="exampleRadios2" value="mid-level" (blur)="logValidationErrors(form)">
      <div class="invalid-feedback">
        {{ formErrors.proficiency }}
      </div>
      <label class="form-check-label" for="exampleRadios2">
        Mid-level
      </label>
    </div>
    <div class="form-check mb-3">
      <input formControlName="proficiency" [ngClass]="{'is-invalid': formErrors.proficiency}" class="form-check-input" type="radio" name="proficiency" id="senior" value="senior" (blur)="logValidationErrors(form)">
      <div class="invalid-feedback">
        {{ formErrors.proficiency }}
      </div>
      <label class="form-check-label" for="senior">
        Senior
      </label>
    </div>
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>
</div>